body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ff9a9e, #fad0c4);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

fieldset {
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    border-left: 5px solid #ff6347;
}

legend {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

label {
    display: block;
    padding: 8px 0;
    font-size: 16px;
    color: #555;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background: linear-gradient(to top right, #ff6347, #ff9a9e);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background: linear-gradient(to top right, #ff9a9e, #ff6347);
    transform: scale(1.05);
}

input[type="radio"]:checked {
    background-color: #ff6347;
}

fieldset:hover {
    background: #f0f8ff;
}

.question-result {
    margin: auto;
    width: 80%;
    max-width: 600px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.question-header {
    margin: auto;
    width: 60%;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-answer {
    margin: auto;
    width: 50%;
    margin-top: 10px;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.arrow {
    font-size: 18px;
}
.total{
    margin: auto;
    width: 340px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}